.lobby-text {
    text-align: left;
    width: 100%;
    display: block;
    padding-left: 24px;
}

.lobby-inner {
    color: #009b48;
    background: #282c34DD;
    min-height: 800px;
    padding-top: 24px;
}

.lobby {
    position: absolute;
    width: 100%;
    top: -20px;
}