.App {
  text-align: center;
  background-color: #1e2970;
  max-width: 700px;
  border-radius: 24px;
}

/** TODO  REMOVE **/
nav {
  position: absolute;
}

.main,
.router-body {
  height: 100%;
}

.router-body {
  display: flex;
  width: 100%;
  background: #36399a;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.router-body .inner-router {
  background: #1e2a70;
  width: 100%;
  flex: 1;
  margin-right: auto;
  margin-left: auto;
  border-radius: 24px;
  max-width: 500px;
  max-height: 90%;
}

.player-button {
  outline: 0;
  display: inline-block;
  margin-top: 20px;
  padding: 6px 10px;
  background: #e72a6d;
  font-size: 1.4em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}
.player-button:disabled {
  background: rgba(231, 42, 109, 0.8);
  color: darkgray;
  cursor: default;
}

.spacer {
  display: inline-block;
  min-width: 16px;
}
