@media only screen and (max-width: 200px) {
  .slider-box {
    width: 64px;
    height: 64px;
  }
}

.slider-box {
  border-radius: 4px;
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 2px;
}

.slide-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c0 {
  background-color: #091b4b;
}

.c1 {
  background-color: #fed42f;
}

.c2 {
  background-color: #e72a6d;
}

.c3 {
  background-color: #72c9db;
}

.c4 {
  background-color: #009b48;
}

.c5 {
  background-color: #b71234;
}
