.slider-box {
    width: 75px;
    height: 75px;
    display: inline-block;
}

.c0 {
    background-color: #112525;
}

.c1 {
    background-color: #ffd500;
}

.c2 {
    background-color: #ff5800;
}

.c3 {
    background-color: #0046ad;
}

.c4 {
    background-color: #009b48;
}

.c5 {
    background-color: #b71234;
}

.preview .slider-box {
    width: 40px;
    height: 40px;
}
